.footer {
  width: 1200px;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.logo-section {
  width: 326px;
}

.logo-p {
  letter-spacing: 0.22px;
  margin-bottom: 10px;
}

.facebook {
  background-image: url("/src/img/footer/facebook.svg");
  width: 10px;
  height: 19px;
  display: inline-block;
}

.twitter {
  background-image: url("/src/img/footer/twitter.svg");
  width: 18px;
  height: 15px;
  display: inline-block;
}

.linkedin {
  background-image: url("/src/img/footer/linkedin.svg");
  width: 16px;
  height: 17px;
  display: inline-block;
}

.instagram {
  background-image: url("/src/img/footer/instagram.svg");
  width: 17px;
  height: 18px;
  display: inline-block;
}

.icons-container {
  display: flex;
  gap: 40px;
}

.logo {
  margin-bottom: 15px;
}

.pages,
.explore {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pages-title {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  line-height: 37.5px; /* 150% */
  letter-spacing: 0.22px;
  margin-bottom: 21px;
}

.contact-list {
  width: 337px;
}

.copyright {
  width: 800px;
  margin: 0 auto;
}

.copyright-title {
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: 0.22px;
}

.span {
  color: #cda274;
}
